* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(242, 242, 242);;
}


.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 32, 32);
    color: rgb(242, 242, 242);
}

.left {
    margin: 0.5em;
}

.right {
    margin: 0.5em;
    display: flex;
    justify-content: space-around;
}

.right button {
    margin: 0.5em;
    padding: 0.6em;
    border-radius: 0.5em;
    border: 0;
}

.search-cointainer input {
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.6em;
    border: 0;
    outline: 0;
}

.search-cointainer {
    margin-right: 0.5em;
}

table {
    width: 90%;
    margin: auto;
    margin-top: 3em;
    text-align: center;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid rgb(161, 159, 159);
    padding: 0.4em;
}

th {
    background-color: rgb(230, 230, 230);
    padding: 0.4em;
}

tr:hover td:not(.favorite-icon) {
    cursor: pointer;
    background-color: lightgray;
}

tr td:last-child{
    cursor: pointer;
}

.pagination-container {
    width: fit-content;
    /* background-color: rgb(135, 215, 215); */
    margin: 0.5em auto;
    /* margin: auto; */
    padding: 0.4em;
    border-radius: 0.5em;
    border: 0;
}

#prev-button,
#next-button {
    padding: 0.4em;
    margin: 0 0.4em;
    border-radius: 5px;
    border: 1px solid;
}

#img {
    width: 23px;
}

.favorite-icon {
    color: red;
    font-size: large;
}

button,
i {
    cursor: pointer;
}

.arrows>i {
    margin: 0.1em 0.2em
}

.search-cointainer {
    position: relative;
}

.dialog-box {
    display: none;
    position: absolute;
    right: 80%;
    color: black;
    background-color: rgb(222, 218, 218);
    border-radius: 10px;
    max-height: 400px;
    min-width: 250px;
    overflow: auto;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.close i {
    padding: 0.5em;
    border-radius: 40% 40%;
    margin-top: 0.5em;
}

.close i:hover {
    background-color: rgb(187, 186, 186);
}

.dialog-box ul {
    list-style: none;
    padding: 0.5em;
    margin-bottom: 0.3em;
    text-transform: capitalize;
}

.dialog-box ul li {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    /* margin-right: 1em; */
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
    outline: 1px solid grey;
    margin-top: 0.3em;
}

.dialog-box ul li:hover {
    background-color: rgb(187, 186, 186);
}

.dialog-box ul li img {
    margin-right: 1em;
}

@media screen and (width < 577px) {
    .nav {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .dialog-box {
        font-size: 0.9em;
        min-width: 150px;
        max-height: 300px;
        /* right:40%; */
    }

    table {
        font-size: 0.8em;
    }
}

@media screen and (width < 460px) {
    .right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    table {
        font-size: 0.5em;
    }

    .dialog-box {
        font-size: 0.6em;
        min-width: 150px;
        max-height: 300px;
        right: 30%;
    }

    td,
    th {
        padding: 0.1em;
    }

    .img {
        width: 12px;
    }

    .nav,
    .right button,
    #search {
        font-size: 0.8em;
    }
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Hide the overlay initially */
#loadingOverlay.hidden {
    opacity: 0;
    visibility: hidden;
}